/*.page {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 25px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}*/
#symbol_map{
    padding-right: 150px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
